<div class="container-fluid col-md-4 col-md-offset-4" style="background-color:#f1f1f1">
    
    <form name="loginForm" ng-submit="login()" class="form-signin">
        <h2 class="form-signin-heading">Log in</h2>

        <input type="text" id="uname" ng-model="" class="form-control" placeholder="Username" 
            style="margin-bottom: 10px" required autofocus>

        <input type="password" id="pw" ng-model="" class="form-control" placeholder="Password" 
        style="margin-bottom: 10px" required>

        <button type="submit" class="btn btn-md btn-primary btn-block" style="margin-bottom: 15px">
        Log in</button>
        <h4>
            Not a member? <a ui-sref="register"><b>Sign up</b></a>
        </h4>
    </form>
</div>