<div class="container profile">
    <div class="row">
        <div class="col-xs-9">
            <main>
                <ul class="nav nav-tabs">
                    <li role="presentation">
                        <a ui-sref="user.saved" ui-sref-active="active">Saved</a>
                    </li>
                    <li role="presentation">
                        <a ui-sref="user.upvoted" ui-sref-active="active">Upvoted</a>
                    </li>
                    <li role="presentation"><a href="">Downvoted</a></li>
                    <li role="presentation"><a href="">Messages</a></li>
                </ul>
                <div ui-view="saved"></div>
                <div ui-view="upvoted"></div>
            </main>	
        </div>
        <div class="col-xs-3">
            <aside>
                <div>
                    <h4>{{user.firstname}} {{user.lastname}}</h4>
                    <h6><a>{{user.username}}</a></h6>
                    <p>
                        <i class="glyphicon glyphicon-envelope"></i> {{user.email}}
                        <br />
                        <i class="glyphicon glyphicon-gift"></i>
                        {{user.registrationDate | date : 'dd/MM/yyyy'}}
                        <br />
                        <i class="glyphicon glyphicon-earphone"></i> {{user.phone}}
                    </p>
                    <button class="btn btn-primary btn-block btn-sm" ng-if="$root.user != null && $root.user.username != user.username" ui-sref="newmessage({receiver: user.username})">
                        Send a private message</button>
                </div>
                <div class="followed-subforums">
                    <h5>Active in these communities</h5>
                    <ul>
                        <li ng-repeat="subforum in user.followedSubforums">
                            <a ui-sref="subforum.detail({title: subforum})">{{subforum}}</a>
                        </li>
                    </ul>
                </div>
            </aside>
                    
        </div>
    </div>
</div>
