<div id="sidebar" class="wrapper">
    <div ng-if="$root.user != null">
        <button class="btn btn-success btn-block" ng-hide="isSubscribed" ng-click="subscribe()">
            Subscribe
        </button>
        <button class="btn btn-danger btn-block" ng-show="isSubscribed" ng-click="unsubscribe()">
            Unsubscribe
        </button>
    </div>
    <button class="btn btn-primary btn-block" ui-sref="subforum.newtopic">
        Submit a new topic
    </button>
    <!-- Container for general information about subforum -->
    <div class="standard-container">
        <h3 id="title">{{subforum.title}}</h3>
        <p>{{subforum.description}}</p>
    </div>
    <!-- Rules container -->
    <div class="standard-container">
        <h3>Rules</h3>
        <ul class="rules-list">
            <li ng-repeat="rule in subforum.rules">
                {{rule}}
            </li>
        </ul>
    </div>
    <!-- Moderators container -->
    <div class="standard-container">
        <h3>Moderators</h3>
        <ul class="moderators-list">
            <li ng-repeat="moderator in subforum.moderators">
                {{moderator}}
            </li>
        </ul>
    </div>
</div>