/* Normalization */
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Logo */
.navbar-brand {
    padding: 0;
}
.navbar-brand > img {
    padding: 2px;
    height: 48px;
    width: auto;    
}

/* Active link styling */
.active {
    font-weight: bolder;
}

/* Default background for all containers*/
.wrapper {
    background: #f8f8f8;
}

/* #region Login and registration page*/
.member {
    font-weight: normal;
}

/* 
    Login form 
*/
.login-container a {
    text-decoration: underline;
}

/* 
    Registration form 
*/
.register-container a {
    text-decoration: underline;
}

/* 
    List of all users page 
*/
.users-container .user-list {
    max-height: 500px;
    overflow-y: auto; 
}

/* Positioning the dropdown window */
.users-container .right-side {
    float: right;
}

/* Fixed dropdown window size */
.users-container #role-selector {
    border-radius: 5px;
    width: 109px;
}

/* Positioning the update button */
.users-container .btn-container {
    text-align: right;
    margin-bottom: 15px;
}
/* #endregion */

/* #region Subforums page*/
.search-container {
    border-radius: 5px;
    margin-bottom: 20px;
}
.search-container .input-group {
    padding: 5px;
    margin: 5px 0;
}
.search-container .create-group {
    float: right;
}

/* Create form */
/* Positioning the close button to the right corner*/
.create-subforum-form .header > h2 {
    display: inline-block;
    text-align: left;
}
.create-subforum-form .header > button {
    float: right;
    margin-top: 1em;
    margin-bottom: 10px;
}

/* Hiding the <input> */
.create-subforum-form .inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
}
/* Styling the <label> which act as an input */
.create-subforum-form .inputfile + label {
    width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    background-color: buttonface;
    border-radius: 4px;
    text-align: center;
}
/* Indicating when the label is focused */
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

/* Fixing image size */
.create-subforum-form .image-preview > img {
    max-width: 40%;
}

/* Styling list of checkboxes for moderators */
.create-subforum-form .moderator-checkbox {
    display: block;
}

/* Subforums container */
.subforums-container > div {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

/* Vertically aligned button in a div */
.subforums-container .button-wrapper {
    display: inline-block;
    float: none;
}
.subforums-container .title-desc-wrapper {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

/* Fixed width for subcribe/unsubscribe button */
.subforums-container .button-wrapper > button {
    width: 92px;
}

/* Description paragraph styling */
.subforums-container .description {
    overflow-wrap: break-word;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ddd;
    background: #eee;
}
/* #endregion */

/* #region Single subforum page */

/*
    Header
*/
.subforum-container header {
    position: relative;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

/* Styling icon and title to be side by side */
.subforum-container .icon {
    display: inline-block;
}
.subforum-container h1 {
    display: inline-block;
    margin: 0 0 0 10px;
    position: absolute;
    bottom: 10px;
}

/* Fixing icon size */
.subforum-container .icon > img {
    height: 80px;
    width: auto;
}

/*
    Sidebar
*/
.subforum-container #sidebar {
    border: 1px solid #eee;
}

.subforum-container #sidebar .standard-container {
    width: 90%;
    margin: 10px auto;
    background: #fff;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    text-overflow: ellipsis;
}
.subforum-container #sidebar .standard-container #title {
    border: none;
    text-align: left;
}
.subforum-container #sidebar .standard-container h3 {
    border-bottom: 1px solid #000;
    text-align: center;
}

.subforum-container #sidebar .rules-list li {
    list-style-position: inside;
    text-overflow: ellipsis;
    border: 1px solid #eee;
    margin: 2px 0;
    padding: 4px;
}

.subforum-container #sidebar .moderators-list li {
    padding: 4px;
    list-style-type: none;
}
/* #endregion */