<!DOCTYPE html>
<html lang="en" ng-app="synxApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    
    <!-- BOOTSTRAP  -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

    <!-- ANGULAR -->
    <script src="https://code.angularjs.org/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js">
    </script>
    <!-- MAIN -->
    <script src="app.js"></script>
    <!-- USER -->
    <script src="user/userConfig.js"></script>
    <script src="user/loginController.js"></script>
    <script src="user/userService.js"></script>
    <script src="user/registerController.js"></script>
    <script src="user/logoutController.js"></script>
    <script src="user/usersController.js"></script>
    <!-- SUBFORUM -->
    <script src="subforum/subforumConfig.js"></script>
    <script src="subforum/subforumService.js"></script>
    <script src="subforum/subforumsController.js"></script>
    <script src="subforum/subforumController.js"></script>
</head>

<body>
    <!-- Main menu -->
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Logo and name -->
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home">
                    <img src="assets/images/synx-logo-new.png" />
                </a>
                <!-- Open/close menu button for mobile devices  -->
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navDropdown">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            
            <!-- Dropdown menu for mobile devices -->
            <div class="collapse navbar-collapse" id="navDropdown">
                <!-- Page navigation -->
                <ul class="nav navbar-nav">
                    <!-- Subforum page for all users -->
                    <li>
                        <a ui-sref="subforums" ui-sref-active="active">Subforums</a>
                    </li>
                    <!-- Users page for admins -->
                    <li ng-if="$root.user.role === 'ADMIN'">
                        <a ui-sref="users" ui-sref-active="active">Users</a>
                    </li>
                </ul>

                <!-- Registration part -->
                <button class="btn btn-primary navbar-btn navbar-right" ng-if="$root.user == null" ui-sref="register">
                    Sign Up
                </button>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-if="$root.user == null">
                        <a ui-sref="login" ui-sref-active="active">Log In</a>
                    </li>
                    <li ng-controller="logoutController" ng-if="$root.user != null">
                        <a ui-sref="home" ng-click="logout()">Log out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div ui-view></div>
</body>

</html>